version: "3.9"
services:
  app:
    build: ./
    environment:
      robonauth.api-key: BSS
      spring.data.mongodb.host: mongo
      spring.rabbitmq.host: rabbitmq
    profiles:
      - app
    ports:
    - "8080:8080"
    healthcheck:
      test: "curl --fail --silent localhost:8080/actuator/health | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 40s
  rabbitmq:
    image: "rabbitmq:4.2.1-management-alpine@sha256:e2aa5131c79592a0d5941110e6eb53e146bb16ae959a44ddb62f4ef57e1fa17e"
    ports:
    - "5672:5672"
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 40s
  mongo:
    image: "mongo:8.2.2@sha256:7245ffb851d149dbfac67397caf91bae4974d899972f9fd1d8985fc6eea3c13d"
    ports:
    - "127.0.0.1:27017:27017"
    volumes:
      - "./db:/data/db"
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo mongo:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
