version: "3.9"
services:
  app:
    build: ./
    environment:
      robonauth.api-key: BSS
      spring.data.mongodb.host: mongo
      spring.rabbitmq.host: rabbitmq
    profiles:
      - app
    ports:
    - "8080:8080"
    healthcheck:
      test: "curl --fail --silent localhost:8080/actuator/health | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 40s
  rabbitmq:
    image: "rabbitmq:4.2.2-management-alpine@sha256:0f279b83ba3c3818992ef7d244557681ea3462a66ecac3424c82e34c0501a5bd"
    ports:
    - "5672:5672"
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 40s
  mongo:
    image: "mongo:8.2.3@sha256:7f5bbdafebde7c42e42e33396d01c0eda3eb753da8dae99071a30e350568a0a4"
    ports:
    - "127.0.0.1:27017:27017"
    volumes:
      - "./db:/data/db"
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo mongo:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
